
.cs-flex {
    display: flex;
    flex-wrap: wrap;
}

.cs-box {
    &__container {
        padding: 5px;
        margin: 10px;
        border: 1px solid #bfbfbf;
        width: 185px;
        height: 60px;
        border-radius: 5px;
        box-shadow: 0 0 2px 2px #d4d4d4;
        cursor: pointer;

        &.large-box {
            height: 170px;
        }

        .header {
            display: flex;
            padding: 0 5px;
            margin-top: 10px;

            .icon {
                width: 64px;
                height: 44px;
                margin-left: -5px;
                margin-top: -5px;

                i {
                    font-size: 3.3em;
                }

                > .green {
                    color: #81f881;
                }

                > .orange {
                    color: #f3a15e;
                }

                > .off {
                    color: #d6d6d6;
                }
            }

            h1 {
                font-size: 0.9em;
                flex: 1;
                margin: 5px 0;
                letter-spacing: 0.4px;
            }
        }

        .content {
            padding: 5px;
            font-family: sans-serif;
            height: 100px;
            overflow: hidden;

            pre {
                margin: 0;
                font-family: inherit;
                font-weight: 400;
                line-height: 1.3em;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
        }

    }
}